doctype html
html
   head
      title Header 
      link(href='/public/stylesheets/style.css', rel="stylesheet")
   body 
      ul 
        li
            a(href = "./") Home
        li
            a(href = "./contact") contact
        li
            a(href = "./services") services