doctype html
html
   head
      title Header 
   body 
      ul 
        li
            a(href = "./home") Home
        li
            a(href = "./contact") contact
        li
            a(href = "./services") services